<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title> Cities app using Angular, flask and PyMongo </title>
</head>

<body style="background-color: transparent">
<div class="container" ng-app="app" ng-controller="AppCtrl as app">
    <h1>CITY RECORDS</h1>
    <br><br>
    <form name="cityForm">
        <div class="container">
            <table class="table" style="background-color: lightgray">
                <thead>
                <tr>
                    <th>CITY</th>
                    <th>STATE</th>
                    <th>Action</th>
                    <th>Modify Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="form-control" ng-model="city.cname" name="cityName" size="default"></td>
                    <td><input class="form-control" ng-model="city.state" name="stateName" size="default"></td>
                    <td>
                        <button class="btn btn-primary" ng-click="app.addCityState(city)"
                                ng-disabled="cityForm.stateName.$pristine">Add New Record
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="app.updateState(city)"
                                ng-disabled="cityForm.stateName.$pristine">Update State
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="city in app.cities">
                    <td><b> {[{ city.cname }]} </b></td>
                    <td><b> {[{ city.state }]} </b></td>
                    <td>
                        <button class="btn btn-danger" ng-click="app.deleteCityState(city)">Delete Record</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="app.editState(city)">Edit State</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/controllers/controller.js"></script>
</body>
</html>