<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title> Cities app using Angular, flask and PyMongo </title>
</head>

<body>
<div class="container" ng-app="app" ng-controller="AppCtrl as app">
    <h1>Cities App</h1>
    <table class="table">
        <thead>
        <tr>
            <th>City Name</th>
            <th>City State</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="city.cname"></td>
            <td><input class="form-control" ng-model="city.state"></td>
            <td>
                <button class="btn btn-primary" ng-click="app.addCity(city)">Add new city</button>
            </td>
        </tr>
        <tr ng-repeat="city in app.cities">
            <td> {[{ city.cname }]}</td>
            <td> {[{ city.state }]}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/controllers/controller.js"></script>
</body>
</html>