<h1>Cities Page  </h1>


Welcome to Cities Page, RESTful API for :

<ol>
     <li>HTTP GET request method :   get_all_cities() for displaying all the cities</li>
     <li>HTTP GET request method :  get_city(name) for displaying a specific city</li>
     <li>HTTP POST request method :   add_city() for adding a new city</li>
     <li>HTTP PUT request method :  update_city(name) for updating an existing city</li>
     <li>HTTP DELETE request method :  delete_city(name) for deleting/removing an existing city</li>
</ol>

