<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title> City information App using AngularJS, Python flask and PyMongo </title>
</head>

<body style="background-color: transparent">
<div class="container" ng-app="CityApp" ng-controller="CityAppController as CityApp">
    <h1>CITY RECORDS</h1>
    <br><br>
    <form name="cityForm">
        <div class="container">
            <table class="table" style="background-color: lightgray">
                <thead>
                <tr>
                    <th>CITY</th>
                    <th>STATE</th>
                    <th>Action</th>
                    <th>Modify Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="form-control" ng-model="cityrecord.cname" name="cityName" size="default" required>
                    </td>
                    <td><input class="form-control" ng-model="cityrecord.state" name="stateName" size="default"
                               required>
                    </td>

                    <td>
                        <button class="btn btn-primary" ng-click="CityApp.addCityState(cityrecord)"
                                ng-disabled="cityForm.$invalid">
                            Add New Record
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="CityApp.updateState(cityrecord) "
                                ng-disabled="cityForm.$invalid">
                            Update State
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="cityrecord in CityApp.citytable">
                    <td><b> {[{ cityrecord.cname }]} </b></td>
                    <td><b> {[{ cityrecord.state }]} </b></td>
                    <td>
                        <button class="btn btn-danger" ng-click="CityApp.deleteCityState(cityrecord)">Delete Record
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="CityApp.editState(cityrecord)">Edit State</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="js/services/CityService.js"></script>
<script src="js/controllers/CityAppController.js"></script>
</body>
</html>

